<% include ../partials/header %>
  <h1>See more about <%= zoo.name%></h1>
  <p>
    <% zoo.animals.forEach(function(animal){ %>
      <p>
        <a href="/animals/<%= animal.id%>"><%= animal.title%></a>

      </p>
    <% })%>
  </p>
  <p>
      <a href="/zoos/<%= zoo._id%>/animals/new">Add a new animal</a>
  </p>
  <p>
    <a href="/zoos/<%= zoo._id%>/edit">Edit this zoo</a>
    <form action="/zoos/<%= zoo._id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE">
    </form>
  </p>
  <p>
    <a href="/zoos">See all zoos</a>
  </p>
<% include ../partials/footer %>